body{
  margin: 0;
  font-family: sans-serif;
  background:#358F60;  
}

.form_clientes{
  width:60%;
  max-width:500px;
  margin:auto;
  background:#A5AA56;
  border-radius:7px;
}


.contenedor_input{
  text-align:center;
 
}
